In [1]:
import pandas as pd

df = pd.read_csv("EDA HW Dataset.csv")

In [2]:
df.head()

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa

In [3]:
df.shape

(398, 9)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          398 non-null    object
 1   mpg           398 non-null    float64
 2   cylinders     398 non-null    int64
 3   displacement  398 non-null    float64
 4   horsepower    392 non-null    float64
 5   weight        398 non-null    int64
 6   acceleration  398 non-null    float64
 7   model_year    398 non-null    int64
 8   origin        398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [5]:
df.dtypes

name             object
mpg             float64
cylinders         int64
displacement    float64
horsepower      float64
weight            int64
acceleration    float64
model_year        int64
origin           object
dtype: object

In [6]:
numerical = df.select_dtypes('number').columns
categorical = df.select_dtypes(object).columns

In [7]:
print(f"Numericals: {[i for i in numerical]}\nCategoricals: {[i for i in categorical]}")

Numericals: ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year']
Categoricals: ['name', 'origin']



---


The most frequent car name is "ford pinto". It is refered 6 times in the dataset.

In [8]:
df["name"].value_counts().head(1)

name
ford pinto    6
Name: count, dtype: int64

---

There are no completely duplicated rows in the dataset.

In [9]:
df[df.duplicated()]

Empty DataFrame
Columns: [name, mpg, cylinders, displacement, horsepower, weight, acceleration, model_year, origin]
Index: []

---
The 'displacement' 'horsepower' correlation coefficient is 0.897, meaning that there is a strong positive correlation between engine displacement and the horsepower.

In [10]:
df[["displacement", "horsepower"]].corr()

              displacement  horsepower
displacement      1.000000    0.897257
horsepower        0.897257    1.000000

---

There are 305 unique car names in the dataset.

In [11]:
df["name"].nunique()

305

---
The most effective car in terms of fuel consumption out of
- plymouth custom suburb
- volvo 264gl
- cadillac seville
- buick skylark 320

is Volvo 264 GL that can make 17 miles per 1 gallon of fuel.

In [12]:
cars = ['plymouth custom suburb', 'volvo 264gl', 'cadillac seville', 'buick skylark 320']
df[df['name'].isin(cars)].groupby('name')['mpg'].mean().sort_values(ascending=False).head(1)

name
volvo 264gl    17.0
Name: mpg, dtype: float64

---
The lowest horsepower in japanese cars is Mazda DLC Deluxe having 52 horsepower.

In [13]:
df[df["origin"].isin(["japan"])].groupby("name")['horsepower'].mean().sort_values().head(1)

name
mazda glc deluxe    52.0
Name: horsepower, dtype: float64

---
The lowest MPG in japanese cars is 18 miles per gallon of fuel.

In [14]:
df[df["origin"].isin(["japan"])].groupby("name")['mpg'].mean().sort_values().head(1)

name
maxda rx3    18.0
Name: mpg, dtype: float64

In [15]:
total_european_cars = len(df[df["origin"] == "europe"])
european_cars_with_8_cylinders = (df[df["origin"] == "europe"]["cylinders"] == 8).sum()
percentage = (european_cars_with_8_cylinders / total_european_cars) * 100
print(f"The percentage of European cars with 8 cylinders is: {percentage:.2f}%")

The percentage of European cars with 8 cylinders is: 0.00%

---
The largest range of acceleration (in terms of standard deviation) have cars with 4 cylinders

In [16]:
df.groupby('cylinders')['acceleration'].std().idxmax()

np.int64(4)

In [17]:
american_cars_horsepower_avg = df[df["origin"] == "usa"]["horsepower"].mean()
european_cars_horsepower_avg = df[df["origin"] == "europe"]["horsepower"].mean()
print(f"On average, european cars have {'more' if european_cars_horsepower_avg > american_cars_horsepower_avg else 'less'} horsepower than american")

On average, european cars have less horsepower than american

In [18]:
from matplotlib import pyplot as plt

ModuleNotFoundError: No module named 'matplotlib'